.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-navbar-text {
  font-size: 0.7rem;
  background-color: transparent;
}
.my-navbar-text:hover {
  color: black !important;
}
.my-navbar-dropdown {
  font-size: 0.9rem;
  background-color: transparent;
}

.active {
  color: black !important;
  border-bottom: 2px solid black;
}

#navbar-button {
  box-sizing: border-box;
}
#navbar-button:hover {
  outline: 1px solid;
  box-sizing: border-box;
}

#navbar-offcanvas {
  margin-top: 53px;
}

#offcanvas-title {
  font-size: 0.8rem;
  color: black;
}

#offcanvas-text {
  font-size: 0.7rem;
}

#offcanvas-link {
  text-decoration: none;
}
#offcanvas-link:hover {
  text-decoration: underline;
}
