*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --backgroundColor: #f4f2ee;
  --grey: #777777;
  --mid-grey: #dbdbdb;
  --light-grey: #f8fafd;
  --light-grey-trasparent: #ebebeb;
  --mainColor: #0a66c2;
  --mainColor-light: #dde7f1;
  --mainColor-light-trasparent: rgba(112, 181, 249, 0.2);
  --mainColor-dark: #004182;
}

#profile-page h1,
#profile-page h2,
#profile-page h3,
#profile-page h4,
#profile-page h5,
#profile-page h6,
#profile-page p {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--mid-grey);
  border-radius: 0.8rem;
  overflow: hidden;
}

#profile-page {
  max-width: 804px;
  margin-inline: auto;
  border-radius: 0.8rem;
}

#user-banner {
  height: 201px;
  width: 100%;
  position: relative;
  background-color: palegoldenrod;
}

.bi.bi-camera-fill.pp {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 17px;
  color: var(--mainColor);
  transform: translate(-55%, 40%);
  cursor: pointer;
}

.bi.bi-camera-fill.pp::before {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

#user-banner .img-wrapper {
  height: 152px;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(15%, 30%);
  background-color: var(--light-grey);
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#user-banner .img-wrapper img {
  height: 55px;
}

.bi.bi-pen.one::before {
  padding: 10px;
  font-size: 20px;
}

.bi.bi-pen.one:hover {
  background-color: var(--mid-grey);
  border-radius: 50%;
}

.link {
  color: var(--mainColor);
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.my-btn {
  padding: 2px 16px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
}

.my-btn:hover {
  background-color: var(--mainColor-light-trasparent);
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
}

#profile-page .my-btn:first-of-type {
  color: white;
  background-color: var(--mainColor);
}
#profile-page .my-btn:first-of-type:hover {
  background-color: var(--mainColor-dark);
  border: 2px solid var(--mainColor-dark);
}
#profile-page .my-btn:last-of-type {
  color: var(--grey);
  border: 1px solid var(--grey);
  font-weight: 400;
}
#profile-page .my-btn:last-of-type:hover {
  background-color: var(--light-grey-trasparent);
  border: 2px solid var(--grey);
}

.card-user-info {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  min-width: 370px;
  /* background-color: var(--mainColor-light); */
  border: 1px solid var(--mid-grey);
  border-radius: 0.8rem;
  font-size: 14px;
  line-height: 18px;
}

.card-user-info:first-of-type {
  background-color: var(--mainColor-light);
}

.cards-wrapper {
  padding-bottom: 5px;
  overflow-x: scroll;
}

.cards-wrapper::-webkit-scrollbar {
  height: 5px; /* width of the entire scrollbar */
}

.cards-wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--mid-grey); /* color of the tracking area */
}

.cards-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--grey); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

@media screen and (max-width: 1200px) {
}
