.App {
  text-align: center;
}
.profile-background-image {
  position: relative;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
